@-moz-keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
/* line 5, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/Cellar/ruby/2.1.5/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 17, ../sass/global.scss */
* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* line 23, ../sass/global.scss */
html {
  height: 100%;
}

/* line 27, ../sass/global.scss */
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 34px;
  line-height: 43px;
}
/* line 39, ../sass/global.scss */
body.disable-links a {
  pointer-events: none;
}
/* line 44, ../sass/global.scss */
body .hide {
  display: none;
}
/* line 48, ../sass/global.scss */
body .flexslider.active {
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  animation: fadein 0.6s;
}
/* line 52, ../sass/global.scss */
body #container,
body #main,
body #splash,
body #thumbnails,
body #updated {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: #434345;
}
/* line 62, ../sass/global.scss */
body #container, body #container .slides, body #container .slides li,
body #main,
body #main .slides,
body #main .slides li,
body #splash,
body #splash .slides,
body #splash .slides li,
body #thumbnails,
body #thumbnails .slides,
body #thumbnails .slides li,
body #updated,
body #updated .slides,
body #updated .slides li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 1024px;
  height: 768px;
  overflow: hidden;
}
/* line 71, ../sass/global.scss */
body #container.flexslider .flex-direction-nav,
body #main.flexslider .flex-direction-nav,
body #splash.flexslider .flex-direction-nav,
body #thumbnails.flexslider .flex-direction-nav,
body #updated.flexslider .flex-direction-nav {
  width: 100%;
  position: absolute;
  top: 349px;
  left: 0;
}
/* line 81, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a,
body #main.flexslider .flex-direction-nav a,
body #splash.flexslider .flex-direction-nav a,
body #thumbnails.flexslider .flex-direction-nav a,
body #updated.flexslider .flex-direction-nav a {
  padding: 50px;
  padding-top: 342px;
  padding-bottom: 300px;
  margin-top: -350px;
  position: absolute;
  overflow: hidden;
  -moz-transition: left 0.3s ease, right 0.3s ease;
  -o-transition: left 0.3s ease, right 0.3s ease;
  -webkit-transition: left 0.3s ease, right 0.3s ease;
  transition: left 0.3s ease, right 0.3s ease;
}
/* line 95, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a, body #container.flexslider .flex-direction-nav a img,
body #main.flexslider .flex-direction-nav a,
body #main.flexslider .flex-direction-nav a img,
body #splash.flexslider .flex-direction-nav a,
body #splash.flexslider .flex-direction-nav a img,
body #thumbnails.flexslider .flex-direction-nav a,
body #thumbnails.flexslider .flex-direction-nav a img,
body #updated.flexslider .flex-direction-nav a,
body #updated.flexslider .flex-direction-nav a img {
  width: 15px;
  height: 42px;
  border: 0;
  outline: none;
}
/* line 102, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a div,
body #container.flexslider .flex-direction-nav a img,
body #main.flexslider .flex-direction-nav a div,
body #main.flexslider .flex-direction-nav a img,
body #splash.flexslider .flex-direction-nav a div,
body #splash.flexslider .flex-direction-nav a img,
body #thumbnails.flexslider .flex-direction-nav a div,
body #thumbnails.flexslider .flex-direction-nav a img,
body #updated.flexslider .flex-direction-nav a div,
body #updated.flexslider .flex-direction-nav a img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 112, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-prev,
body #main.flexslider .flex-direction-nav a.flex-prev,
body #splash.flexslider .flex-direction-nav a.flex-prev,
body #thumbnails.flexslider .flex-direction-nav a.flex-prev,
body #updated.flexslider .flex-direction-nav a.flex-prev {
  margin-left: -50px;
  left: 28px;
}
/* line 117, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-prev img,
body #main.flexslider .flex-direction-nav a.flex-prev img,
body #splash.flexslider .flex-direction-nav a.flex-prev img,
body #thumbnails.flexslider .flex-direction-nav a.flex-prev img,
body #updated.flexslider .flex-direction-nav a.flex-prev img {
  padding-top: 8px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 123, ../sass/global.scss */
.on-specimen-slide body #container.flexslider .flex-direction-nav a.flex-prev img, .on-specimen-slide
body #main.flexslider .flex-direction-nav a.flex-prev img, .on-specimen-slide
body #splash.flexslider .flex-direction-nav a.flex-prev img, .on-specimen-slide
body #thumbnails.flexslider .flex-direction-nav a.flex-prev img, .on-specimen-slide
body #updated.flexslider .flex-direction-nav a.flex-prev img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 129, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-next,
body #main.flexslider .flex-direction-nav a.flex-next,
body #splash.flexslider .flex-direction-nav a.flex-next,
body #thumbnails.flexslider .flex-direction-nav a.flex-next,
body #updated.flexslider .flex-direction-nav a.flex-next {
  margin-right: -50px;
  padding-left: 0;
  right: 28px;
  width: 145px;
}
/* line 136, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-next img, body #container.flexslider .flex-direction-nav a.flex-next div,
body #main.flexslider .flex-direction-nav a.flex-next img,
body #main.flexslider .flex-direction-nav a.flex-next div,
body #splash.flexslider .flex-direction-nav a.flex-next img,
body #splash.flexslider .flex-direction-nav a.flex-next div,
body #thumbnails.flexslider .flex-direction-nav a.flex-next img,
body #thumbnails.flexslider .flex-direction-nav a.flex-next div,
body #updated.flexslider .flex-direction-nav a.flex-next img,
body #updated.flexslider .flex-direction-nav a.flex-next div {
  position: absolute;
  right: 50px;
  top: 350px;
}
/* line 142, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-next img,
body #main.flexslider .flex-direction-nav a.flex-next img,
body #splash.flexslider .flex-direction-nav a.flex-next img,
body #thumbnails.flexslider .flex-direction-nav a.flex-next img,
body #updated.flexslider .flex-direction-nav a.flex-next img {
  -moz-animation: fade 1s;
  -webkit-animation: fade 1s;
  animation: fade 1s;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -moz-animation-delay: 0.41s;
  -webkit-animation-delay: 0.41s;
  animation-delay: 0.41s;
}
/* line 149, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
body #main.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
body #splash.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
body #thumbnails.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
body #updated.flexslider .flex-direction-nav a.flex-next img:nth-child(2) {
  right: 65px;
  -moz-animation-delay: 0.21s;
  -webkit-animation-delay: 0.21s;
  animation-delay: 0.21s;
}
/* line 154, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-next img:nth-child(3),
body #main.flexslider .flex-direction-nav a.flex-next img:nth-child(3),
body #splash.flexslider .flex-direction-nav a.flex-next img:nth-child(3),
body #thumbnails.flexslider .flex-direction-nav a.flex-next img:nth-child(3),
body #updated.flexslider .flex-direction-nav a.flex-next img:nth-child(3) {
  right: 80px;
  -moz-animation-delay: 0.01s;
  -webkit-animation-delay: 0.01s;
  animation-delay: 0.01s;
}
/* line 159, ../sass/global.scss */
body #container.flexslider .flex-direction-nav a.flex-next div,
body #main.flexslider .flex-direction-nav a.flex-next div,
body #splash.flexslider .flex-direction-nav a.flex-next div,
body #thumbnails.flexslider .flex-direction-nav a.flex-next div,
body #updated.flexslider .flex-direction-nav a.flex-next div {
  color: #ffffff;
  display: block;
  right: 100px;
  top: 346px;
}
/* line 169, ../sass/global.scss */
.on-specimen-slide body #container.flexslider .flex-direction-nav a.flex-next img, .on-specimen-slide
body #main.flexslider .flex-direction-nav a.flex-next img, .on-specimen-slide
body #splash.flexslider .flex-direction-nav a.flex-next img, .on-specimen-slide
body #thumbnails.flexslider .flex-direction-nav a.flex-next img, .on-specimen-slide
body #updated.flexslider .flex-direction-nav a.flex-next img {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
}
/* line 173, ../sass/global.scss */
.on-specimen-slide body #container.flexslider .flex-direction-nav a.flex-next div,
.on-specimen-slide body #container.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
.on-specimen-slide body #container.flexslider .flex-direction-nav a.flex-next img:nth-child(3), .on-specimen-slide
body #main.flexslider .flex-direction-nav a.flex-next div,
.on-specimen-slide
body #main.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
.on-specimen-slide
body #main.flexslider .flex-direction-nav a.flex-next img:nth-child(3), .on-specimen-slide
body #splash.flexslider .flex-direction-nav a.flex-next div,
.on-specimen-slide
body #splash.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
.on-specimen-slide
body #splash.flexslider .flex-direction-nav a.flex-next img:nth-child(3), .on-specimen-slide
body #thumbnails.flexslider .flex-direction-nav a.flex-next div,
.on-specimen-slide
body #thumbnails.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
.on-specimen-slide
body #thumbnails.flexslider .flex-direction-nav a.flex-next img:nth-child(3), .on-specimen-slide
body #updated.flexslider .flex-direction-nav a.flex-next div,
.on-specimen-slide
body #updated.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
.on-specimen-slide
body #updated.flexslider .flex-direction-nav a.flex-next img:nth-child(3) {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 183, ../sass/global.scss */
body #container.flexslider .page,
body #main.flexslider .page,
body #splash.flexslider .page,
body #thumbnails.flexslider .page,
body #updated.flexslider .page {
  -webkit-transform: translateZ(0px);
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  font-size: 28px;
  line-height: 34px;
}
/* line 196, ../sass/global.scss */
body #container .slides li.specimen,
body #main .slides li.specimen,
body #splash .slides li.specimen,
body #thumbnails .slides li.specimen,
body #updated .slides li.specimen {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 70px;
}
/* line 204, ../sass/global.scss */
body #container .slides li.specimen .img-container,
body #main .slides li.specimen .img-container,
body #splash .slides li.specimen .img-container,
body #thumbnails .slides li.specimen .img-container,
body #updated .slides li.specimen .img-container {
  position: relative;
  margin-left: 30px;
  float: right;
}
/* line 210, ../sass/global.scss */
body #container .slides li.specimen .img-container .img,
body #main .slides li.specimen .img-container .img,
body #splash .slides li.specimen .img-container .img,
body #thumbnails .slides li.specimen .img-container .img,
body #updated .slides li.specimen .img-container .img {
  width: 500px;
  height: 320px;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 221, ../sass/global.scss */
body #container .slides li.specimen .title,
body #container .slides li.specimen .field_scientific_name,
body #container .slides li.specimen .field_exhibit_or_theme,
body #main .slides li.specimen .title,
body #main .slides li.specimen .field_scientific_name,
body #main .slides li.specimen .field_exhibit_or_theme,
body #splash .slides li.specimen .title,
body #splash .slides li.specimen .field_scientific_name,
body #splash .slides li.specimen .field_exhibit_or_theme,
body #thumbnails .slides li.specimen .title,
body #thumbnails .slides li.specimen .field_scientific_name,
body #thumbnails .slides li.specimen .field_exhibit_or_theme,
body #updated .slides li.specimen .title,
body #updated .slides li.specimen .field_scientific_name,
body #updated .slides li.specimen .field_exhibit_or_theme {
  max-width: 330px;
  font-weight: 500;
}
/* line 228, ../sass/global.scss */
body #container .slides li.specimen .field_exhibit_or_theme,
body #main .slides li.specimen .field_exhibit_or_theme,
body #splash .slides li.specimen .field_exhibit_or_theme,
body #thumbnails .slides li.specimen .field_exhibit_or_theme,
body #updated .slides li.specimen .field_exhibit_or_theme {
  text-transform: uppercase;
  font-family: 'Whitney SC A', 'Whitney SC B', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 30px;
  padding-left: 3px;
  letter-spacing: 5px;
}
/* line 239, ../sass/global.scss */
body #container .slides li.specimen .title,
body #main .slides li.specimen .title,
body #splash .slides li.specimen .title,
body #thumbnails .slides li.specimen .title,
body #updated .slides li.specimen .title {
  font-size: 60px;
  line-height: 64px;
  margin-bottom: 10px;
}
/* line 245, ../sass/global.scss */
body #container .slides li.specimen .field_scientific_name,
body #main .slides li.specimen .field_scientific_name,
body #splash .slides li.specimen .field_scientific_name,
body #thumbnails .slides li.specimen .field_scientific_name,
body #updated .slides li.specimen .field_scientific_name {
  font-size: 28px;
  line-height: 33px;
  font-style: italic;
}
/* line 250, ../sass/global.scss */
body #container .slides li.specimen .field_scientific_name mark,
body #main .slides li.specimen .field_scientific_name mark,
body #splash .slides li.specimen .field_scientific_name mark,
body #thumbnails .slides li.specimen .field_scientific_name mark,
body #updated .slides li.specimen .field_scientific_name mark {
  font-style: normal;
  background-color: transparent;
  color: inherit;
}
/* line 257, ../sass/global.scss */
body #container .slides li.specimen .body_1,
body #main .slides li.specimen .body_1,
body #splash .slides li.specimen .body_1,
body #thumbnails .slides li.specimen .body_1,
body #updated .slides li.specimen .body_1 {
  clear: both;
  padding-top: 30px;
}
/* line 261, ../sass/global.scss */
body #container .slides li.specimen .body_1 p,
body #main .slides li.specimen .body_1 p,
body #splash .slides li.specimen .body_1 p,
body #thumbnails .slides li.specimen .body_1 p,
body #updated .slides li.specimen .body_1 p {
  margin-bottom: 30px;
}
/* line 265, ../sass/global.scss */
body #container .slides li.specimen .body_1 em,
body #main .slides li.specimen .body_1 em,
body #splash .slides li.specimen .body_1 em,
body #thumbnails .slides li.specimen .body_1 em,
body #updated .slides li.specimen .body_1 em {
  font-style: italic;
}
/* line 269, ../sass/global.scss */
body #container .slides li.specimen .body_1 strong,
body #main .slides li.specimen .body_1 strong,
body #splash .slides li.specimen .body_1 strong,
body #thumbnails .slides li.specimen .body_1 strong,
body #updated .slides li.specimen .body_1 strong {
  font-weight: 600;
}
/* line 274, ../sass/global.scss */
body #container .slides li.specimen .field_diet,
body #container .slides li.specimen .field_distribution,
body #main .slides li.specimen .field_diet,
body #main .slides li.specimen .field_distribution,
body #splash .slides li.specimen .field_diet,
body #splash .slides li.specimen .field_distribution,
body #thumbnails .slides li.specimen .field_diet,
body #thumbnails .slides li.specimen .field_distribution,
body #updated .slides li.specimen .field_diet,
body #updated .slides li.specimen .field_distribution {
  font-size: 28px;
  line-height: 34px;
}
/* line 279, ../sass/global.scss */
body #container .slides li.specimen .field_diet em,
body #container .slides li.specimen .field_distribution em,
body #main .slides li.specimen .field_diet em,
body #main .slides li.specimen .field_distribution em,
body #splash .slides li.specimen .field_diet em,
body #splash .slides li.specimen .field_distribution em,
body #thumbnails .slides li.specimen .field_diet em,
body #thumbnails .slides li.specimen .field_distribution em,
body #updated .slides li.specimen .field_diet em,
body #updated .slides li.specimen .field_distribution em {
  font-weight: 600;
}
/* line 284, ../sass/global.scss */
body #container .slides li.specimen .field_tagline,
body #container .slides li.specimen .field_source,
body #main .slides li.specimen .field_tagline,
body #main .slides li.specimen .field_source,
body #splash .slides li.specimen .field_tagline,
body #splash .slides li.specimen .field_source,
body #thumbnails .slides li.specimen .field_tagline,
body #thumbnails .slides li.specimen .field_source,
body #updated .slides li.specimen .field_tagline,
body #updated .slides li.specimen .field_source {
  width: 750px;
  float: left;
  font-size: 20px;
  line-height: 24px;
  margin-top: 30px;
}
/* line 293, ../sass/global.scss */
body #container .slides li.specimen .field_tagline,
body #main .slides li.specimen .field_tagline,
body #splash .slides li.specimen .field_tagline,
body #thumbnails .slides li.specimen .field_tagline,
body #updated .slides li.specimen .field_tagline {
  font-weight: 600;
}
/* line 297, ../sass/global.scss */
body #container .slides li.specimen .field_source,
body #main .slides li.specimen .field_source,
body #splash .slides li.specimen .field_source,
body #thumbnails .slides li.specimen .field_source,
body #updated .slides li.specimen .field_source {
  color: rgba(255, 255, 255, 0.8);
}
/* line 302, ../sass/global.scss */
body #container .slides li.updated, body #container .slides li.title-slide,
body #main .slides li.updated,
body #main .slides li.title-slide,
body #splash .slides li.updated,
body #splash .slides li.title-slide,
body #thumbnails .slides li.updated,
body #thumbnails .slides li.title-slide,
body #updated .slides li.updated,
body #updated .slides li.title-slide {
  padding-left: 90px;
  padding-right: 90px;
}
/* line 309, ../sass/global.scss */
body #container .slides li.updated .container, body #container .slides li.title-slide .container,
body #main .slides li.updated .container,
body #main .slides li.title-slide .container,
body #splash .slides li.updated .container,
body #splash .slides li.title-slide .container,
body #thumbnails .slides li.updated .container,
body #thumbnails .slides li.title-slide .container,
body #updated .slides li.updated .container,
body #updated .slides li.title-slide .container {
  display: table-cell;
  vertical-align: middle;
  height: 768px;
}
/* line 316, ../sass/global.scss */
body #container .slides li.photosensitive,
body #main .slides li.photosensitive,
body #splash .slides li.photosensitive,
body #thumbnails .slides li.photosensitive,
body #updated .slides li.photosensitive {
  padding-left: 180px;
  padding-right: 180px;
}
/* line 322, ../sass/global.scss */
body #container .slides li.photosensitive .container,
body #main .slides li.photosensitive .container,
body #splash .slides li.photosensitive .container,
body #thumbnails .slides li.photosensitive .container,
body #updated .slides li.photosensitive .container {
  margin-top: 90px;
  padding-top: 270px;
  background-image: url("../images/photosensitive.png");
  -moz-background-size: 225px, 225px;
  -o-background-size: 225px, 225px;
  -webkit-background-size: 225px, 225px;
  background-size: 225px, 225px;
  background-repeat: no-repeat;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5 / 1), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  /* line 128, ../sass/_mixins.scss */
  body #container .slides li.photosensitive .container,
  body #main .slides li.photosensitive .container,
  body #splash .slides li.photosensitive .container,
  body #thumbnails .slides li.photosensitive .container,
  body #updated .slides li.photosensitive .container {
    background-image: url("../images/photosensitive@2x.png");
  }
}
/* line 330, ../sass/global.scss */
body #container .slides li.photosensitive h2,
body #main .slides li.photosensitive h2,
body #splash .slides li.photosensitive h2,
body #thumbnails .slides li.photosensitive h2,
body #updated .slides li.photosensitive h2 {
  font-weight: 600;
  font-size: 94px;
  line-height: 1;
}
/* line 336, ../sass/global.scss */
body #container .slides li.photosensitive p,
body #main .slides li.photosensitive p,
body #splash .slides li.photosensitive p,
body #thumbnails .slides li.photosensitive p,
body #updated .slides li.photosensitive p {
  margin-top: 30px;
  font-size: 29px;
  line-height: 40px;
}
/* line 341, ../sass/global.scss */
body #container .slides li.photosensitive p em,
body #main .slides li.photosensitive p em,
body #splash .slides li.photosensitive p em,
body #thumbnails .slides li.photosensitive p em,
body #updated .slides li.photosensitive p em {
  font-weight: 600;
}
/* line 348, ../sass/global.scss */
body #container .slides li.updated .container,
body #main .slides li.updated .container,
body #splash .slides li.updated .container,
body #thumbnails .slides li.updated .container,
body #updated .slides li.updated .container {
  width: 1024px;
  text-align: center;
}
/* line 353, ../sass/global.scss */
body #container .slides li.updated h2,
body #main .slides li.updated h2,
body #splash .slides li.updated h2,
body #thumbnails .slides li.updated h2,
body #updated .slides li.updated h2 {
  font-size: 57px;
  line-height: 1;
  padding-bottom: 50px;
}
/* line 361, ../sass/global.scss */
body #container .slides li.title-slide h1,
body #main .slides li.title-slide h1,
body #splash .slides li.title-slide h1,
body #thumbnails .slides li.title-slide h1,
body #updated .slides li.title-slide h1 {
  font-weight: 400;
  font-size: 166px;
  line-height: 172px;
  letter-spacing: -4px;
}
/* line 368, ../sass/global.scss */
body #container .slides li.title-slide h2,
body #main .slides li.title-slide h2,
body #splash .slides li.title-slide h2,
body #thumbnails .slides li.title-slide h2,
body #updated .slides li.title-slide h2 {
  font-weight: 500;
  font-size: 80px;
  line-height: 140px;
  letter-spacing: -1px;
}
/* line 377, ../sass/global.scss */
body #container .slides li > h2 em, body #container .slides li.title-slide h1, body #container .slides li.specimen .title, body #container .slides li.specimen .field_scientific_name, body #container .slides li.specimen .field_tagline,
body #main .slides li > h2 em,
body #main .slides li.title-slide h1,
body #main .slides li.specimen .title,
body #main .slides li.specimen .field_scientific_name,
body #main .slides li.specimen .field_tagline,
body #splash .slides li > h2 em,
body #splash .slides li.title-slide h1,
body #splash .slides li.specimen .title,
body #splash .slides li.specimen .field_scientific_name,
body #splash .slides li.specimen .field_tagline,
body #thumbnails .slides li > h2 em,
body #thumbnails .slides li.title-slide h1,
body #thumbnails .slides li.specimen .title,
body #thumbnails .slides li.specimen .field_scientific_name,
body #thumbnails .slides li.specimen .field_tagline,
body #updated .slides li > h2 em,
body #updated .slides li.title-slide h1,
body #updated .slides li.specimen .title,
body #updated .slides li.specimen .field_scientific_name,
body #updated .slides li.specimen .field_tagline {
  color: #00e3ff;
}
/* line 33, ../sass/_mixins.scss */
.theme-1 body #container .slides li > h2 em, .theme-1 body #container .slides li.title-slide h1, .theme-1 body #container .slides li.specimen .title, .theme-1 body #container .slides li.specimen .field_scientific_name, .theme-1 body #container .slides li.specimen .field_tagline, .theme-1
body #main .slides li > h2 em, .theme-1
body #main .slides li.title-slide h1, .theme-1
body #main .slides li.specimen .title, .theme-1
body #main .slides li.specimen .field_scientific_name, .theme-1
body #main .slides li.specimen .field_tagline, .theme-1
body #splash .slides li > h2 em, .theme-1
body #splash .slides li.title-slide h1, .theme-1
body #splash .slides li.specimen .title, .theme-1
body #splash .slides li.specimen .field_scientific_name, .theme-1
body #splash .slides li.specimen .field_tagline, .theme-1
body #thumbnails .slides li > h2 em, .theme-1
body #thumbnails .slides li.title-slide h1, .theme-1
body #thumbnails .slides li.specimen .title, .theme-1
body #thumbnails .slides li.specimen .field_scientific_name, .theme-1
body #thumbnails .slides li.specimen .field_tagline, .theme-1
body #updated .slides li > h2 em, .theme-1
body #updated .slides li.title-slide h1, .theme-1
body #updated .slides li.specimen .title, .theme-1
body #updated .slides li.specimen .field_scientific_name, .theme-1
body #updated .slides li.specimen .field_tagline {
  color: #f1562f;
}
/* line 36, ../sass/_mixins.scss */
.theme-3 body #container .slides li > h2 em, .theme-3 body #container .slides li.title-slide h1, .theme-3 body #container .slides li.specimen .title, .theme-3 body #container .slides li.specimen .field_scientific_name, .theme-3 body #container .slides li.specimen .field_tagline, .theme-3
body #main .slides li > h2 em, .theme-3
body #main .slides li.title-slide h1, .theme-3
body #main .slides li.specimen .title, .theme-3
body #main .slides li.specimen .field_scientific_name, .theme-3
body #main .slides li.specimen .field_tagline, .theme-3
body #splash .slides li > h2 em, .theme-3
body #splash .slides li.title-slide h1, .theme-3
body #splash .slides li.specimen .title, .theme-3
body #splash .slides li.specimen .field_scientific_name, .theme-3
body #splash .slides li.specimen .field_tagline, .theme-3
body #thumbnails .slides li > h2 em, .theme-3
body #thumbnails .slides li.title-slide h1, .theme-3
body #thumbnails .slides li.specimen .title, .theme-3
body #thumbnails .slides li.specimen .field_scientific_name, .theme-3
body #thumbnails .slides li.specimen .field_tagline, .theme-3
body #updated .slides li > h2 em, .theme-3
body #updated .slides li.title-slide h1, .theme-3
body #updated .slides li.specimen .title, .theme-3
body #updated .slides li.specimen .field_scientific_name, .theme-3
body #updated .slides li.specimen .field_tagline {
  color: #f3c11a;
}
/* line 39, ../sass/_mixins.scss */
.theme-13 body #container .slides li > h2 em, .theme-13 body #container .slides li.title-slide h1, .theme-13 body #container .slides li.specimen .title, .theme-13 body #container .slides li.specimen .field_scientific_name, .theme-13 body #container .slides li.specimen .field_tagline, .theme-13
body #main .slides li > h2 em, .theme-13
body #main .slides li.title-slide h1, .theme-13
body #main .slides li.specimen .title, .theme-13
body #main .slides li.specimen .field_scientific_name, .theme-13
body #main .slides li.specimen .field_tagline, .theme-13
body #splash .slides li > h2 em, .theme-13
body #splash .slides li.title-slide h1, .theme-13
body #splash .slides li.specimen .title, .theme-13
body #splash .slides li.specimen .field_scientific_name, .theme-13
body #splash .slides li.specimen .field_tagline, .theme-13
body #thumbnails .slides li > h2 em, .theme-13
body #thumbnails .slides li.title-slide h1, .theme-13
body #thumbnails .slides li.specimen .title, .theme-13
body #thumbnails .slides li.specimen .field_scientific_name, .theme-13
body #thumbnails .slides li.specimen .field_tagline, .theme-13
body #updated .slides li > h2 em, .theme-13
body #updated .slides li.title-slide h1, .theme-13
body #updated .slides li.specimen .title, .theme-13
body #updated .slides li.specimen .field_scientific_name, .theme-13
body #updated .slides li.specimen .field_tagline {
  color: #96c488;
}
/* line 42, ../sass/_mixins.scss */
.theme-145 body #container .slides li > h2 em, .theme-145 body #container .slides li.title-slide h1, .theme-145 body #container .slides li.specimen .title, .theme-145 body #container .slides li.specimen .field_scientific_name, .theme-145 body #container .slides li.specimen .field_tagline, .theme-145
body #main .slides li > h2 em, .theme-145
body #main .slides li.title-slide h1, .theme-145
body #main .slides li.specimen .title, .theme-145
body #main .slides li.specimen .field_scientific_name, .theme-145
body #main .slides li.specimen .field_tagline, .theme-145
body #splash .slides li > h2 em, .theme-145
body #splash .slides li.title-slide h1, .theme-145
body #splash .slides li.specimen .title, .theme-145
body #splash .slides li.specimen .field_scientific_name, .theme-145
body #splash .slides li.specimen .field_tagline, .theme-145
body #thumbnails .slides li > h2 em, .theme-145
body #thumbnails .slides li.title-slide h1, .theme-145
body #thumbnails .slides li.specimen .title, .theme-145
body #thumbnails .slides li.specimen .field_scientific_name, .theme-145
body #thumbnails .slides li.specimen .field_tagline, .theme-145
body #updated .slides li > h2 em, .theme-145
body #updated .slides li.title-slide h1, .theme-145
body #updated .slides li.specimen .title, .theme-145
body #updated .slides li.specimen .field_scientific_name, .theme-145
body #updated .slides li.specimen .field_tagline {
  color: #f3c11a;
}
/* line 45, ../sass/_mixins.scss */
.theme-153 body #container .slides li > h2 em, .theme-153 body #container .slides li.title-slide h1, .theme-153 body #container .slides li.specimen .title, .theme-153 body #container .slides li.specimen .field_scientific_name, .theme-153 body #container .slides li.specimen .field_tagline, .theme-153
body #main .slides li > h2 em, .theme-153
body #main .slides li.title-slide h1, .theme-153
body #main .slides li.specimen .title, .theme-153
body #main .slides li.specimen .field_scientific_name, .theme-153
body #main .slides li.specimen .field_tagline, .theme-153
body #splash .slides li > h2 em, .theme-153
body #splash .slides li.title-slide h1, .theme-153
body #splash .slides li.specimen .title, .theme-153
body #splash .slides li.specimen .field_scientific_name, .theme-153
body #splash .slides li.specimen .field_tagline, .theme-153
body #thumbnails .slides li > h2 em, .theme-153
body #thumbnails .slides li.title-slide h1, .theme-153
body #thumbnails .slides li.specimen .title, .theme-153
body #thumbnails .slides li.specimen .field_scientific_name, .theme-153
body #thumbnails .slides li.specimen .field_tagline, .theme-153
body #updated .slides li > h2 em, .theme-153
body #updated .slides li.title-slide h1, .theme-153
body #updated .slides li.specimen .title, .theme-153
body #updated .slides li.specimen .field_scientific_name, .theme-153
body #updated .slides li.specimen .field_tagline {
  color: #00ffff;
}
/* line 48, ../sass/_mixins.scss */
.theme-162 body #container .slides li > h2 em, .theme-162 body #container .slides li.title-slide h1, .theme-162 body #container .slides li.specimen .title, .theme-162 body #container .slides li.specimen .field_scientific_name, .theme-162 body #container .slides li.specimen .field_tagline, .theme-162
body #main .slides li > h2 em, .theme-162
body #main .slides li.title-slide h1, .theme-162
body #main .slides li.specimen .title, .theme-162
body #main .slides li.specimen .field_scientific_name, .theme-162
body #main .slides li.specimen .field_tagline, .theme-162
body #splash .slides li > h2 em, .theme-162
body #splash .slides li.title-slide h1, .theme-162
body #splash .slides li.specimen .title, .theme-162
body #splash .slides li.specimen .field_scientific_name, .theme-162
body #splash .slides li.specimen .field_tagline, .theme-162
body #thumbnails .slides li > h2 em, .theme-162
body #thumbnails .slides li.title-slide h1, .theme-162
body #thumbnails .slides li.specimen .title, .theme-162
body #thumbnails .slides li.specimen .field_scientific_name, .theme-162
body #thumbnails .slides li.specimen .field_tagline, .theme-162
body #updated .slides li > h2 em, .theme-162
body #updated .slides li.title-slide h1, .theme-162
body #updated .slides li.specimen .title, .theme-162
body #updated .slides li.specimen .field_scientific_name, .theme-162
body #updated .slides li.specimen .field_tagline {
  color: #ffd100;
}
/* line 51, ../sass/_mixins.scss */
.theme-167 body #container .slides li > h2 em, .theme-167 body #container .slides li.title-slide h1, .theme-167 body #container .slides li.specimen .title, .theme-167 body #container .slides li.specimen .field_scientific_name, .theme-167 body #container .slides li.specimen .field_tagline, .theme-167
body #main .slides li > h2 em, .theme-167
body #main .slides li.title-slide h1, .theme-167
body #main .slides li.specimen .title, .theme-167
body #main .slides li.specimen .field_scientific_name, .theme-167
body #main .slides li.specimen .field_tagline, .theme-167
body #splash .slides li > h2 em, .theme-167
body #splash .slides li.title-slide h1, .theme-167
body #splash .slides li.specimen .title, .theme-167
body #splash .slides li.specimen .field_scientific_name, .theme-167
body #splash .slides li.specimen .field_tagline, .theme-167
body #thumbnails .slides li > h2 em, .theme-167
body #thumbnails .slides li.title-slide h1, .theme-167
body #thumbnails .slides li.specimen .title, .theme-167
body #thumbnails .slides li.specimen .field_scientific_name, .theme-167
body #thumbnails .slides li.specimen .field_tagline, .theme-167
body #updated .slides li > h2 em, .theme-167
body #updated .slides li.title-slide h1, .theme-167
body #updated .slides li.specimen .title, .theme-167
body #updated .slides li.specimen .field_scientific_name, .theme-167
body #updated .slides li.specimen .field_tagline {
  color: #ffffff;
}
/* line 390, ../sass/global.scss */
.theme-1 body #container, .theme-1
body #main, .theme-1
body #splash, .theme-1
body #thumbnails, .theme-1
body #updated {
  background-color: #00344d;
}
/* line 393, ../sass/global.scss */
.theme-3 body #container, .theme-3
body #main, .theme-3
body #splash, .theme-3
body #thumbnails, .theme-3
body #updated {
  background-color: #008cae;
}
/* line 396, ../sass/global.scss */
.theme-13 body #container, .theme-13
body #main, .theme-13
body #splash, .theme-13
body #thumbnails, .theme-13
body #updated {
  background-color: #640000;
}
/* line 399, ../sass/global.scss */
.theme-145 body #container, .theme-145
body #main, .theme-145
body #splash, .theme-145
body #thumbnails, .theme-145
body #updated {
  background-color: #008cae;
}
/* line 402, ../sass/global.scss */
.theme-153 body #container, .theme-153
body #main, .theme-153
body #splash, .theme-153
body #thumbnails, .theme-153
body #updated {
  background-color: #006225;
}
/* line 405, ../sass/global.scss */
.theme-162 body #container, .theme-162
body #main, .theme-162
body #splash, .theme-162
body #thumbnails, .theme-162
body #updated {
  background-color: #002855;
}
/* line 408, ../sass/global.scss */
.theme-167 body #container, .theme-167
body #main, .theme-167
body #splash, .theme-167
body #thumbnails, .theme-167
body #updated {
  background-color: #005396;
}
/* line 414, ../sass/global.scss */
body .cap {
  -moz-transform-origin: 0 0 0;
  -ms-transform-origin: 0 0 0;
  -o-transform-origin: 0 0 0;
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  width: 100%;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}
/* line 20, ../sass/_mixins.scss */
.lt-ie9 body .cap {
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
/* line 427, ../sass/global.scss */
body #main .cap {
  top: 0;
  left: 525px;
}
/* line 433, ../sass/global.scss */
body #main .page,
body #main .grid {
  pointer-events: none;
  cursor: default;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 444, ../sass/global.scss */
.on-specimen-slide body #main .page, .on-specimen-slide
body #main .grid {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 449, ../sass/global.scss */
body #main .page {
  bottom: 20px;
  right: 80px;
}
/* line 456, ../sass/global.scss */
.aquarium-ipad-large body #main .page {
  right: auto;
  left: 80px;
}
/* line 462, ../sass/global.scss */
body #main .grid {
  position: absolute;
  bottom: 27px;
  right: 80px;
  width: 40px;
  height: 40px;
  background-image: url("../images/grid.svg");
  z-index: 100;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  display: block;
  line-height: 0;
}
/* line 473, ../sass/global.scss */
.on-specimen-slide body #main .grid {
  cursor: pointer;
  pointer-events: auto;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 479, ../sass/global.scss */
.no-touch.on-specimen-slide body #main .grid:hover, .touch.on-specimen-slide body #main .grid:active {
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 489, ../sass/global.scss */
body #updated li,
body #splash li {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* line 497, ../sass/global.scss */
body #updated .cap {
  top: 21px;
  left: 1012px;
  color: #dbdcdd;
  font-weight: 400;
}
/* line 505, ../sass/global.scss */
body #updated li h2 {
  font-size: 57px;
  line-height: 68px;
  width: 750px;
  position: absolute;
  letter-spacing: -1px;
}
/* line 512, ../sass/global.scss */
body #updated li h2 em {
  font-weight: 500;
  font-family: 'Whitney ON A', 'Whitney ON B', Helvetica, Arial, sans-serif;
}
/* line 521, ../sass/global.scss */
body #updated li:nth-child(odd) h2 {
  bottom: 73px;
  left: 222px;
}
/* line 527, ../sass/global.scss */
body #updated li:nth-child(even) h2 {
  top: 56px;
  left: 68px;
}
/* line 536, ../sass/global.scss */
body #splash .slides li {
  text-align: center;
  pointer-events: none;
}
/* line 542, ../sass/global.scss */
body #splash .slides li.flex-active-slide {
  pointer-events: auto;
}
/* line 546, ../sass/global.scss */
body #splash .slides li h1, body #splash .slides li h2 {
  text-transform: uppercase;
  font-family: 'Whitney SC A', 'Whitney SC B', Helvetica, Arial, sans-serif;
}
/* line 551, ../sass/global.scss */
body #splash .slides li h2 {
  color: #00e3ff;
  margin-top: 57px;
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 5px;
}
/* line 33, ../sass/_mixins.scss */
.theme-1 body #splash .slides li h2 {
  color: #f1562f;
}
/* line 36, ../sass/_mixins.scss */
.theme-3 body #splash .slides li h2 {
  color: #f3c11a;
}
/* line 39, ../sass/_mixins.scss */
.theme-13 body #splash .slides li h2 {
  color: #96c488;
}
/* line 42, ../sass/_mixins.scss */
.theme-145 body #splash .slides li h2 {
  color: #f3c11a;
}
/* line 45, ../sass/_mixins.scss */
.theme-153 body #splash .slides li h2 {
  color: #00ffff;
}
/* line 48, ../sass/_mixins.scss */
.theme-162 body #splash .slides li h2 {
  color: #ffd100;
}
/* line 51, ../sass/_mixins.scss */
.theme-167 body #splash .slides li h2 {
  color: #ffffff;
}
/* line 560, ../sass/global.scss */
body #splash .slides li h1 {
  display: inline-block;
  margin-top: 150px;
  overflow: hidden;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: 1px;
  padding: 100px;
  padding-bottom: 115px;
  border: 23px solid rgba(0, 227, 255, 0.6);
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0 12px 12px rgba(0, 0, 0, 0.12), 0 0 12px 12px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 12px 12px rgba(0, 0, 0, 0.12), 0 0 12px 12px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 12px 12px rgba(0, 0, 0, 0.12), 0 0 12px 12px rgba(0, 0, 0, 0.12);
}
/* line 59, ../sass/_mixins.scss */
.theme-1 body #splash .slides li h1 {
  border: 23px solid rgba(241, 86, 47, 0.6);
}
/* line 62, ../sass/_mixins.scss */
.theme-3 body #splash .slides li h1 {
  border: 23px solid rgba(243, 193, 26, 0.6);
}
/* line 65, ../sass/_mixins.scss */
.theme-13 body #splash .slides li h1 {
  border: 23px solid rgba(150, 196, 136, 0.6);
}
/* line 68, ../sass/_mixins.scss */
.theme-145 body #splash .slides li h1 {
  border: 23px solid rgba(243, 193, 26, 0.6);
}
/* line 71, ../sass/_mixins.scss */
.theme-153 body #splash .slides li h1 {
  border: 23px solid rgba(0, 255, 255, 0.6);
}
/* line 74, ../sass/_mixins.scss */
.theme-162 body #splash .slides li h1 {
  border: 23px solid rgba(255, 209, 0, 0.6);
}
/* line 77, ../sass/_mixins.scss */
.theme-167 body #splash .slides li h1 {
  border: 23px solid rgba(255, 255, 255, 0.6);
}
/* line 579, ../sass/global.scss */
body #thumbnails {
  padding: 70px;
  padding-top: 55px;
}
/* line 583, ../sass/global.scss */
body #thumbnails h1 {
  text-transform: uppercase;
  font-family: 'Whitney SC A', 'Whitney SC B', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 5px;
  margin-bottom: 55px;
  margin-left: -2px;
}
/* line 596, ../sass/global.scss */
body #thumbnails.flexslider .flex-direction-nav a.flex-prev {
  padding-right: 25px;
}
/* line 599, ../sass/global.scss */
body #thumbnails.flexslider .flex-direction-nav a.flex-next {
  width: inherit;
  padding-left: 45px;
}
/* line 606, ../sass/global.scss */
body #thumbnails.flexslider .flex-direction-nav a.flex-prev img,
body #thumbnails.flexslider .flex-direction-nav a.flex-next img {
  -moz-animation: none;
  -webkit-animation: none;
  animation: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
}
/* line 613, ../sass/global.scss */
body #thumbnails.flexslider .flex-direction-nav a.flex-next div,
body #thumbnails.flexslider .flex-direction-nav a.flex-next img:nth-child(2),
body #thumbnails.flexslider .flex-direction-nav a.flex-next img:nth-child(3) {
  display: none;
}
/* line 622, ../sass/global.scss */
body #thumbnails.flexslider .flex-viewport {
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  animation: fadein 0.6s;
}
/* line 627, ../sass/global.scss */
body #thumbnails .slides {
  z-index: 100;
}
/* line 631, ../sass/global.scss */
body #thumbnails .slides, body #thumbnails .slides li {
  height: 431px;
}
/* line 637, ../sass/global.scss */
body #thumbnails .slides .thumbnail, body #thumbnails .slides li .thumbnail {
  float: left;
  margin-bottom: 21px;
  margin-right: 21px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.15);
}
/* line 642, ../sass/global.scss */
body #thumbnails .slides .thumbnail:nth-child(4n), body #thumbnails .slides li .thumbnail:nth-child(4n) {
  margin-right: 0;
}
/* line 652, ../sass/global.scss */
body #thumbnails .slides .thumbnail, body #thumbnails .slides .thumbnail .inner, body #thumbnails .slides li .thumbnail, body #thumbnails .slides li .thumbnail .inner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 205px;
  height: 205px;
}
/* line 658, ../sass/global.scss */
body #thumbnails .slides .thumbnail .inner, body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid #00e3ff;
  -moz-transition: border-width 0.1s ease-out;
  -o-transition: border-width 0.1s ease-out;
  -webkit-transition: border-width 0.1s ease-out;
  transition: border-width 0.1s ease-out;
}
/* line 59, ../sass/_mixins.scss */
.theme-1 body #thumbnails .slides .thumbnail .inner, .theme-1 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid #f1562f;
}
/* line 62, ../sass/_mixins.scss */
.theme-3 body #thumbnails .slides .thumbnail .inner, .theme-3 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid #f3c11a;
}
/* line 65, ../sass/_mixins.scss */
.theme-13 body #thumbnails .slides .thumbnail .inner, .theme-13 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid #96c488;
}
/* line 68, ../sass/_mixins.scss */
.theme-145 body #thumbnails .slides .thumbnail .inner, .theme-145 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid #f3c11a;
}
/* line 71, ../sass/_mixins.scss */
.theme-153 body #thumbnails .slides .thumbnail .inner, .theme-153 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid cyan;
}
/* line 74, ../sass/_mixins.scss */
.theme-162 body #thumbnails .slides .thumbnail .inner, .theme-162 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid #ffd100;
}
/* line 77, ../sass/_mixins.scss */
.theme-167 body #thumbnails .slides .thumbnail .inner, .theme-167 body #thumbnails .slides li .thumbnail .inner {
  border: 0px solid white;
}
/* line 668, ../sass/global.scss */
.no-touch body #thumbnails .slides .thumbnail:hover .inner, .touch body #thumbnails .slides .thumbnail:active .inner, .no-touch body #thumbnails .slides li .thumbnail:hover .inner, .touch body #thumbnails .slides li .thumbnail:active .inner {
  border-width: 8px;
}
/* line 675, ../sass/global.scss */
body #thumbnails .taxa-menu {
  position: absolute;
  z-index: 200;
  margin-left: -20px;
  margin-top: 40px;
}
/* line 681, ../sass/global.scss */
body #thumbnails .taxa-menu li {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: 'Whitney SC A', 'Whitney SC B', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 3px;
}
/* line 686, ../sass/global.scss */
body #thumbnails .taxa-menu li:last-child {
  margin-right: 0;
}
/* line 697, ../sass/global.scss */
body #thumbnails .taxa-menu li a {
  padding: 12px;
  padding-top: 0;
  padding-bottom: 8px;
  color: #ffffff;
  text-decoration: none;
  border: 8px solid rgba(0, 227, 255, 0);
}
/* line 59, ../sass/_mixins.scss */
.theme-1 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(241, 86, 47, 0);
}
/* line 62, ../sass/_mixins.scss */
.theme-3 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(243, 193, 26, 0);
}
/* line 65, ../sass/_mixins.scss */
.theme-13 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(150, 196, 136, 0);
}
/* line 68, ../sass/_mixins.scss */
.theme-145 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(243, 193, 26, 0);
}
/* line 71, ../sass/_mixins.scss */
.theme-153 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(0, 255, 255, 0);
}
/* line 74, ../sass/_mixins.scss */
.theme-162 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(255, 209, 0, 0);
}
/* line 77, ../sass/_mixins.scss */
.theme-167 body #thumbnails .taxa-menu li a {
  border: 8px solid rgba(255, 255, 255, 0);
}
/* line 705, ../sass/global.scss */
.no-touch body #thumbnails .taxa-menu li a:hover, .touch body #thumbnails .taxa-menu li a:active {
  color: #00e3ff;
}
/* line 709, ../sass/global.scss */
.no-touch.theme-1 body #thumbnails .taxa-menu li a:hover, .touch.theme-1 body #thumbnails .taxa-menu li a:active {
  color: #f1562f;
}
/* line 713, ../sass/global.scss */
.no-touch.theme-3 body #thumbnails .taxa-menu li a:hover, .touch.theme-3 body #thumbnails .taxa-menu li a:active {
  color: #f3c11a;
}
/* line 717, ../sass/global.scss */
.no-touch.theme-13 body #thumbnails .taxa-menu li a:hover, .touch.theme-13 body #thumbnails .taxa-menu li a:active {
  color: #96c488;
}
/* line 721, ../sass/global.scss */
.no-touch.theme-145 body #thumbnails .taxa-menu li a:hover, .touch.theme-145 body #thumbnails .taxa-menu li a:active {
  color: #f3c11a;
}
/* line 725, ../sass/global.scss */
.no-touch.theme-153 body #thumbnails .taxa-menu li a:hover, .touch.theme-153 body #thumbnails .taxa-menu li a:active {
  color: #00ffff;
}
/* line 729, ../sass/global.scss */
.no-touch.theme-162 body #thumbnails .taxa-menu li a:hover, .touch.theme-162 body #thumbnails .taxa-menu li a:active {
  color: #ffd100;
}
/* line 733, ../sass/global.scss */
.no-touch.theme-167 body #thumbnails .taxa-menu li a:hover, .touch.theme-167 body #thumbnails .taxa-menu li a:active {
  color: #ffffff;
}
/* line 740, ../sass/global.scss */
body #thumbnails .taxa-menu li.selected a {
  color: #00e3ff;
  border: 8px solid #00e3ff;
  pointer-events: none;
  cursor: default;
}
/* line 33, ../sass/_mixins.scss */
.theme-1 body #thumbnails .taxa-menu li.selected a {
  color: #f1562f;
}
/* line 36, ../sass/_mixins.scss */
.theme-3 body #thumbnails .taxa-menu li.selected a {
  color: #f3c11a;
}
/* line 39, ../sass/_mixins.scss */
.theme-13 body #thumbnails .taxa-menu li.selected a {
  color: #96c488;
}
/* line 42, ../sass/_mixins.scss */
.theme-145 body #thumbnails .taxa-menu li.selected a {
  color: #f3c11a;
}
/* line 45, ../sass/_mixins.scss */
.theme-153 body #thumbnails .taxa-menu li.selected a {
  color: #00ffff;
}
/* line 48, ../sass/_mixins.scss */
.theme-162 body #thumbnails .taxa-menu li.selected a {
  color: #ffd100;
}
/* line 51, ../sass/_mixins.scss */
.theme-167 body #thumbnails .taxa-menu li.selected a {
  color: #ffffff;
}
/* line 59, ../sass/_mixins.scss */
.theme-1 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid #f1562f;
}
/* line 62, ../sass/_mixins.scss */
.theme-3 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid #f3c11a;
}
/* line 65, ../sass/_mixins.scss */
.theme-13 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid #96c488;
}
/* line 68, ../sass/_mixins.scss */
.theme-145 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid #f3c11a;
}
/* line 71, ../sass/_mixins.scss */
.theme-153 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid cyan;
}
/* line 74, ../sass/_mixins.scss */
.theme-162 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid #ffd100;
}
/* line 77, ../sass/_mixins.scss */
.theme-167 body #thumbnails .taxa-menu li.selected a {
  border: 8px solid white;
}
/* line 749, ../sass/global.scss */
body #thumbnails .page {
  right: 70px;
  bottom: 24px;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  animation: fadein 0.6s;
}
/* line 756, ../sass/global.scss */
body #msg {
  display: none;
  position: absolute;
  z-index: 999;
  bottom: 10px;
  left: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  cursor: hand;
  cursor: pointer;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding: 10px;
  font-size: 16px;
  line-height: 1;
  max-width: 250px;
}
/* line 759, ../sass/global.scss */
.no-touch body #msg {
  display: block;
}
/* line 774, ../sass/global.scss */
body #msg strong {
  font-weight: 600;
}
/* line 778, ../sass/global.scss */
body #msg p {
  margin-bottom: 10px;
}
/* line 781, ../sass/global.scss */
body #msg p:last-child {
  margin-bottom: 0;
}
/* line 795, ../sass/global.scss */
.theme-162 body .title-slide {
  background-image: url("../images/spotlight.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 799, ../sass/global.scss */
.theme-162 body .title-slide h1 {
  visibility: hidden;
}
/* line 803, ../sass/global.scss */
.theme-162 body .title-slide h2 {
  width: 50%;
  line-height: 1 !important;
  padding-top: 80px;
  padding-left: 480px;
}
/* line 811, ../sass/global.scss */
.theme-162 body .field_exhibit_or_theme {
  color: #00b5e2;
}
/* line 816, ../sass/global.scss */
.theme-167 body .title-slide {
  background-image: url("../images/hidden-reef-sprites/octopus-animation-01.png");
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}
/* line 820, ../sass/global.scss */
.theme-167 body .title-slide h1, .theme-167 body .title-slide h2 {
  visibility: hidden;
}
/* line 825, ../sass/global.scss */
.theme-167 body .specimen {
  background-color: #c93791;
}
/* line 829, ../sass/global.scss */
.theme-167 body .field_exhibit_or_theme {
  color: #1c3665;
}
