.page-taxonomy-term-edit .form-item-path-alias,
.page-taxonomy-term-edit .text-format-wrapper {
	display: none;
}

.page-taxonomy-term-edit .image-widget-data .text-format-wrapper {
	display: block;
}

/* hacking Taxonomy Term Reference Tree Widget */

.term-reference-tree-button,
.no-term-reference-tree-button {
	display: none;
}

#edit-field-tank-or-display-und > .term-reference-tree-level > li {
	display: inline-block;
	vertical-align: top;
	padding: 10px;
}

#edit-field-tank-or-display-und > .term-reference-tree-level > li input {
	display: none;
}

#edit-field-tank-or-display-und > .term-reference-tree-level > li label {
	font-weight: bold;
	pointer-events: none;
}

#edit-field-tank-or-display-und > .term-reference-tree-level > li > ul.term-reference-tree-level input {
	display: inline;
}

#edit-field-tank-or-display-und > .term-reference-tree-level > li > ul.term-reference-tree-level label {
	font-weight: normal;
	pointer-events: all;
}

.view-admin-views-node .views-field-field-scientific-name {
	font-style: italic;
}

.view-admin-views-node .views-field-field-scientific-name mark {
	font-style: normal;
}
