$white: #ffffff;
$ebuCaption: #dbdcdd; // #231f20

// theme colors
$water-planet-highlight: #00e3ff;
$water-planet-background: #434345;

$cali-coast-highlight: #f1562f;
$cali-coast-background: #00344d;

$pcr-highlight: #f3c11a;
$pcr-background: #008cae;

$caribbean-coral-reef-highlight: #f3c11a;
$caribbean-coral-reef-background: #008cae;

$amazon-flooded-forest-highlight: #96c488;
$amazon-flooded-forest-background: #640000;

$southern-swamp-highlight: #00ffff;
$southern-swamp-background: #006225;

$twilight-zone-subhead: #00b5e2;
$twilight-zone-highlight: #ffd100;
$twilight-zone-background: #002855;

$hidden-reef-subhead: #f36f2f;
$hidden-reef-highlight: $white;
$hidden-reef-background: #005396;
$hidden-reef-specimen-background: #c93791;

$venom-title: #34A3AD;
$venom-highlight: #c2d954;
$venom-background: #34A3AD;
$venom-text: #000000;
$venom-text-secondary: #003331;

$venom-title-alt: #34A3AD;
$venom-highlight-alt: #34A3AD;
$venom-background-alt: #00716f;
$venom-text-alt: #c2d954;
$venom-text-secondary-alt: #000000;
