@import "global-variables";
@import "compass/reset";
@import "compass/css3";

// disable user select
* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	@include user-select(none);
}

html {
	height: 100%;

	&.touch * {
		cursor: none !important;
	}
}

body {
	// curly quotes
	-webkit-font-feature-settings: 'ss17' 1, 'onum' 1;
	font-feature-settings: 'ss17' 1, 'onum' 1;

	margin: 0;
	padding: 0;
	min-height: 100%;
	font-weight: $book;
	color: $white;
	font-family: 'Whitney', Helvetica, Arial, sans-serif;

	#cn, .cn, .cn * {
		font-family: 'HanSans', Helvetica, Arial, sans-serif;
	}
	
	.theme-169 & {
		color: $venom-text;
	}
	.theme-172 & {
		color: $venom-text-alt;
	}

	font-size: 34px;
	line-height: 43px;

	&.disable-links {
		a {
			pointer-events: none;
		}
	}

	&.fancybox-active {
		#container > div {
			&, * {
				pointer-events: none !important;
			}
		}
	}

	.hide {
		display: none;
	}

	.flexslider.active {
		@include animation(fadein .6s);
	}

	.cap {
		@include smallprint;
		width: 100%;
		position: absolute;
	}

	.slides > li,
	.title-slide img,
	.img-container {
		@include backface-visibility(hidden);
	}

	#container,
	#main,
	#splash,
	#thumbnails,
	#updated {
		position: relative;

		margin-left: auto;
		margin-right: auto;

		&, .slides, .slides li {
			@include box-sizing(border-box);
			width: $stageWidth;
			height: $stageHeight;
			overflow: hidden;
		}

		// slider arrows
		&.flexslider {
			.flex-direction-nav {
				$w: 18px;
				$h: 44px;
				$arrowSpacing: 28px;

				width: 100%;
				position: absolute;
				top: ($stageHeight / 2) - ($h / 2) - 18px;
				left: 0;

				a {
					padding: 50px;
					padding-top: 300px + $h;
					padding-bottom: 300px;
					margin-top: -350px;

					position: absolute;
					overflow: visible;

					@include transition(
						left .3s ease,
						right .3s ease
					);

					&, img {
						width: $w;
						height: $h;
						border: 0;
						outline: none;
					}

					div,
					img {
						@include arrow-opacity;

						@include transition(
							opacity .3s ease
						);
					}

					// fade out previous on non-specimen slides
					&.flex-prev {
						margin-left: -50px;
						padding-right: 0;

						left: $arrowSpacing;

						img {
							padding-top: 8px;
							@include opacity(0);
						}

						.on-specimen-slide & {
							img {
								@include opacity($uiOpacity);
							}
						}
						.theme-169.on-specimen-slide &,
						.theme-172.on-specimen-slide & {
							img {
								@include opacity(1);
							}
						}
					}

					&.flex-next {
						margin-right: -50px;
						padding-left: 0;

						right: $arrowSpacing;
						width: 50px;

						$triArrowMargin: 45px;

						img, & > div {
							pointer-events: none;
							position: absolute;
							right: $triArrowMargin;
							white-space: nowrap;
							top: 352px;
						}

						img {
							@include arrow-opacity;
							@include animation(fade 1s infinite alternate);
						}

						img:nth-child(1) {
							@include animation-delay(.45s);
						}

						img:nth-child(2) {
							right: $w + $triArrowMargin;
							@include animation-delay(.25s);
						}

						img:nth-child(3) {
							right: ($w * 2) + $triArrowMargin;
							@include animation-delay(.05s);
						}

						& > div {
							color: $white;
							display: block;
							right: ($w * 3) + $triArrowMargin + 5px;
						}

						// fade out the extra arrows and "swipe" on specimen slides
						.on-specimen-slide & {
							// stop animation
							img {
								@include animation(none);
							}

							& > div,
							img:nth-child(2),
							img:nth-child(3) {
								@include opacity(0);
							}
						}
					}
				}
			}

			.page {
				// prevent anti-aliasing in safari
				-webkit-transform: translateZ(0px);

				position: absolute;
				font-size: 28px;
				line-height: 34px;
				color: rgba($white, $uiOpacity);

				.theme-169 & {
					color: $venom-text-secondary;
				}
				.theme-172 & {
					color: $venom-text-secondary-alt;
				}
			}
		}

		.slides {
			li {
				&.specimen {
					padding-left: $padding;
					padding-right: $padding;
					padding-top: $padding + $translationUIHeight - 20px;

					$space: 30px;

					.container {
						position: relative;

						&, .column {
							height: 100%;
						}

						.column {
							position: relative;
							float: left;
							width: calc(50% - #{$padding / 4});
							margin-right: $padding / 4;

							.column-bottom {
								position: absolute;
								width: 100%;
								bottom: 80px;
							}

							&:last-child {
								margin-right: 0;
								margin-left: $padding / 4;

								.column-bottom {
									margin-bottom: -8px;
								}
							}
						}
					}

					.img-container {
						position: relative;

						.img {
							position: relative;
							overflow: hidden;
							width: 100%;
							height: $imgHeight;

							pointer-events: none;
							@include buttony(true);

							@include background-size(cover);
							background-repeat: no-repeat;
							background-position: center center;

							&.with-video:before,
							&.with-expand:before {
								@include backface-visibility(hidden);

								content: '';
								position: absolute;
								background-repeat: no-repeat;
								z-index: 2;
							}

							&.with-video {
								&:before {
									// only icon is clickable
									pointer-events: auto;

									$vidIconDim: 145px;
									$vidIconWithPadding: $vidIconDim + 30px;

									width: $vidIconWithPadding;
									height: $vidIconWithPadding;

									@include svg-shadow;
									top: 50%;
									left: 50%;
									margin-top: -($vidIconWithPadding / 2);
									margin-left: -($vidIconWithPadding / 2);

									@include background-size($vidIconDim $vidIconDim);
									background-image: url('../images/play.svg');
									background-position: center center;
								}

								.duration {
									@include backface-visibility(hidden);
									font-size: 24px;
									line-height: 1;

									z-index: 3;
									position: absolute;
									bottom: 5px;
									right: 10px;
									color: $white;
								}
							}

							&.with-expand {
								// entire image is clickable
								pointer-events: auto;

								&:before {
									$iconDim: 45px;
									$padding: 15px;

									// fix a rendering bug
									@include transform(translateY(0px));

									top: 0;
									right: 0;
									font-size: 20px;
									line-height: 1;

									@include box-sizing(border-box);
									height: $iconDim + ($padding * 2);
									padding-top: 28px;
									padding-left: $padding;
									padding-right: $padding + 20px + $iconDim;

									@include background-size($iconDim $iconDim);
									background-repeat: no-repeat;
									background-image: url('../images/plus.svg');
									background-position: right $padding center;
									background-color: rgba(#000000, $uiOpacity);

									color: $white;
									content: 'Expand';

									html[lang="cn"] & {
										content: '展開';
									}
									html[lang="tl"] & {
										content: 'Palawakin';
									}
									html[lang="es"] & {
										content: 'Ampliar';
									}
								}
							}
						}

						.cap {
							left: 0;
							top: $imgHeight + 3px;
							color: rgba($white, $uiOpacity);

							.theme-169 & {
								color: $venom-text-secondary;
							}
							.theme-172 & {
								color: $venom-text-secondary-alt;
							}
						}
					}

					.title,
					.field_exhibit_or_theme {
						font-weight: $medium;
					}

					.field_exhibit_or_theme {
						text-transform: uppercase;
						@include small-caps;
						font-weight: $semibold;
						font-size: 22px;
						line-height: 26px;
						margin-bottom: $space;
						padding-left: 3px;
						letter-spacing: 5px;
						display: none;
					}

					.title {
						font-size: 60px;
						line-height: 64px;
						margin-bottom: 10px;
					}

					.field_scientific_name {
						font-size: 28px;
						line-height: 33px;
						font-style: italic;

						mark {
							font-style: normal;
							background-color: transparent;
							color: inherit;
						}
					}

					.body {
						clear: both;

						p {
							margin-bottom: $space;
						}

						em {
							font-style: italic;
						}

						strong {
							font-weight: $semibold;
						}
					}

					.field_diet,
					.field_distribution {
						font-size: 28px;
						line-height: 34px;

						em {
							font-weight: $semibold;	
						}
					}

					.field_tagline,
					.field_source {
						font-size: 20px;
						line-height: 24px;
						font-weight: $semibold;
						margin-bottom: 10px;
					}
				}

				$titlePadding: 90px;

				&.updated,
				&.title-slide {
					padding-left: $titlePadding;
					padding-right: $titlePadding;

					.container {
						display: table-cell;
    					vertical-align: middle;
    					height: $stageHeight;
					}
				}

				&.photosensitive {
					padding-left: $titlePadding * 2;
					padding-right: $titlePadding * 2;

					.container {
						@include box-sizing(border-box);
						padding-right: 60px;
						margin-top: $titlePadding;
						$graphicSize: 225px;
						padding-top: $graphicSize + ($titlePadding / 2);
						@include background-image-retina('photosensitive', 'png', $graphicSize, $graphicSize);
						background-repeat: no-repeat;
					}

					h2 {
						font-weight: $semibold;
						font-size: 94px;
						line-height: 1;
						margin-bottom: 20px;

						html[lang="es"] & {
							font-size: 88px;
						}
					}

					p {
						margin-top: 30px;
						font-size: 29px;
						line-height: 40px;

						em {
							font-weight: $semibold;
						}
					}
				}

				&.updated {
					.container {
						width: $stageWidth;
						text-align: center;
					}

					h2 {
						font-size: 57px;
						line-height: 1;
						padding-bottom: 50px;
					}
				}

				&.title-slide {
					@include background-size(cover);
					background-repeat: no-repeat;
					padding-right: 200px;

					.container {
						position: relative;
						z-index: 2;
						@include box-sizing(border-box);
						padding-bottom: 50px;
					}

					h1 {
						font-weight: $book;
						font-size: 166px;
						line-height: 172px;
						letter-spacing: -4px;
					}

					h2 {
						font-weight: $medium;
						font-size: 80px;
						line-height: 140px;
						letter-spacing: -1px;
					}
				}

				// theme highlight colors
				& > h2 em,
				&.title-slide h1,
				&.specimen .title,
				&.specimen .field_scientific_name,
				&.specimen .field_tagline {
					@include highlight-color;
				}
			}
		}

		// theme background colors
		background-color: $water-planet-background;

		.theme-1 & {
			background-color: $cali-coast-background;
		}
		.theme-3 & {
			background-color: $pcr-background;
		}
		.theme-13 & {
			background-color: $amazon-flooded-forest-background;
		}
		.theme-145 & {
			background-color: $caribbean-coral-reef-background;
		}
		.theme-153 & {
			background-color: $southern-swamp-background;
		}
		.theme-162 & {
			background-color: $twilight-zone-background;
		}
		.theme-167 & {
			background-color: $hidden-reef-background;
		}
		.theme-169 & {
			background-color: $venom-background;
		}
		.theme-172 & {
			background-color: $venom-background-alt;
		}
	}

	#main {
		.cap {
			top: 0;
			left: 525px;
		}

		// only show on specimen slides
		.page,
		.grid {
			pointer-events: none;
			cursor: default;

			@include transition(
				opacity .3s ease
			);

			@include opacity(0);

			.on-specimen-slide & {
				@include opacity(1);
			}
		}

		.page {
			bottom: 20px;

			// default justify right
			right: 80px;

			// justify left on big ipads
			.aquarium-ipad-large & {
				right: auto;
				left: 80px;
			}
		}

		.grid {
			position: absolute;
			bottom: 27px;
			right: 80px;

			width: 40px;
			height: 40px;
			background-image: url('../images/grid.svg');
			z-index: 100;
			@include hide-text-calacademy;

			.on-specimen-slide & {
				cursor: pointer;
				pointer-events: auto;
				@include opacity($uiOpacity);
			}

			.no-touch.on-specimen-slide &:hover,
			.touch.on-specimen-slide &:active {
				@include transition(none);
				@include opacity(1);
			}
		}
	}

	#updated,
	#splash {
		li {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}
	}

	#updated {
		.cap {
			top: 21px;
			left: $stageWidth - 12;
			color: $ebuCaption;
			font-weight: $book;

			@include calacademy-transform-origin(0, 0, 0);
			@include rotate(90deg);

			font-size: 12px;
			line-height: 14px;
		}

		li {
			h2 {
				font-size: 57px;
				line-height: 68px;
				width: 750px;
				position: absolute;
				letter-spacing: -1px;

				em {
					font-weight: $medium;
				}
			}

			$vOffset: 12px;

			&:nth-child(odd) {
				h2 {
					bottom: 85px - $vOffset;
					right: 80px;
				}
			}
			&:nth-child(even) {
				h2 {
					top: 68px - $vOffset;
					left: 68px;
				}
			}
		}
	}

	#splash {
		.slides li {
			text-align: center;

			// disable click / touch events on non-active slides
			pointer-events: none;

			&.flex-active-slide {
				pointer-events: auto;
			}

			h1, h2 {
				text-transform: uppercase;
				@include small-caps;
			}

			h2 {
				@include highlight-color;
				margin-top: 57px;
				
				font-weight: $book;
				font-size: 50px;
				letter-spacing: 5px;
			}

			h1 {
				display: inline-block;
				margin-top: 150px;

				overflow: hidden;
				font-weight: $semibold;
				font-size: 70px;
				letter-spacing: 1px;
				
				padding: 100px;
				padding-bottom: 115px;
				@include highlight-border;
				
				@include text-shadow(0 0 12px rgba(#000000, .25));
				@include box-shadow(inset 0 12px 12px rgba(#000000, .12), 0 0 12px 12px rgba(#000000, .12));
			}
		}
	}

	#thumbnails {
		padding: 70px;
		padding-top: 55px;

		h1 {
			text-transform: uppercase;
			@include small-caps;
			
			font-weight: $book;
			font-size: 40px;
			letter-spacing: 5px;
			margin-bottom: 55px;
			margin-left: -2px;
		}

		&.flexslider {
			.flex-direction-nav {
				a.flex-prev {
					padding-right: 25px;
				}
				a.flex-next {
					width: inherit;
					padding-left: 45px;
				}

				a.flex-prev,
				a.flex-next {
					img {
						@include animation(none);
						@include arrow-opacity;
					}
				}

				a.flex-next {
					div,
					img:nth-child(2),
					img:nth-child(3) {
						display: none;
					}
				}
			}

			// fade in just the slides
			.flex-viewport {
				@include animation(fadein .6s);	
			}
		}

		.slides {
			z-index: 100;
		}

		.slides, .slides li {
			$thumbnailSize: 205px;
			$thumbPadding: 21px;

			height: ($thumbnailSize * 2) + $thumbPadding;

			.thumbnail {
				float: left;
				margin-bottom: $thumbPadding;
				margin-right: $thumbPadding;

				&:nth-child(4n) {
					margin-right: 0;
				}

				cursor: pointer;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
				background-color: rgba(#000000, .15);

				&, .inner {
					@include box-sizing(border-box);
					width: $thumbnailSize;
					height: $thumbnailSize;
				}

				.inner {
					@include highlight-border(0px, 1);

					@include transition(
						border-width .1s ease-out
					);
				}

				.no-touch &:hover,
				.touch &:active {
					.inner {
						border-width: 8px;
					}
				}
			}
		}

		.taxa-menu {
			position: absolute;
			z-index: 200;
			margin-left: -20px;
			margin-top: 40px;

			li {
				display: inline-block;
				margin-right: 16px;
				margin-bottom: 20px;

				&:last-child {
					margin-right: 0;
				}

				// type
				text-transform: uppercase;
				@include small-caps;
				font-weight: $semibold;
				font-size: 36px;
				letter-spacing: 3px;

				a {
					padding: 12px;
					padding-top: 0;
					padding-bottom: 8px;
					color: $white;
					text-decoration: none;
					@include highlight-border(8px, 0);

					.no-touch &:hover,
					.touch &:active {
						color: $water-planet-highlight;
					}
					.no-touch.theme-1 &:hover,
					.touch.theme-1 &:active {
						color: $cali-coast-highlight;
					}
					.no-touch.theme-3 &:hover,
					.touch.theme-3 &:active {
						color: $pcr-highlight;
					}
					.no-touch.theme-13 &:hover,
					.touch.theme-13 &:active {
						color: $amazon-flooded-forest-highlight;
					}
					.no-touch.theme-145 &:hover,
					.touch.theme-145 &:active {
						color: $caribbean-coral-reef-highlight;
					}
					.no-touch.theme-153 &:hover,
					.touch.theme-153 &:active {
						color: $southern-swamp-highlight;
					}
					.no-touch.theme-162 &:hover,
					.touch.theme-162 &:active {
						color: $twilight-zone-highlight;
					}
					.no-touch.theme-167 &:hover,
					.touch.theme-167 &:active {
						color: $hidden-reef-highlight;
					}
					.no-touch.theme-169 &:hover,
					.touch.theme-169 &:active {
						color: $venom-highlight;
					}
					.no-touch.theme-172 &:hover,
					.touch.theme-172 &:active {
						color: $venom-highlight-alt;
					}
				}

				&.selected {
					a {
						@include highlight-color;
						@include highlight-border(8px, 1);
						@include disable-link;
					}
				}
			}
		}

		.page {
			right: 70px;
			bottom: 24px;
			@include animation(fadein .6s);
		}
	}

	#msg {
		display: none;

		.no-touch & {
			display: block;
		}

		position: absolute;
		z-index: 999;
		bottom: 10px;
		left: 10px;
		@include border-radius(10px);
		
		cursor: hand;
		cursor: pointer;

		font-weight: $book;

		strong {
			font-weight: $semibold;
		}

		p {
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		background-color: rgba(#000000, 0.5);
		color: $white;
		padding: 10px;
		font-size: 16px;
		line-height: 1;
		max-width: 250px;
	}

	.theme-162 &,
	.theme-167 & {
		.title-slide {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
	}

	.theme-162 & {
		.title-slide {
			background-image: url($assetPath + '/spotlight.png');

			.container {
				margin-top: -$stageHeight;
				
				@include box-sizing(border-box);
				width: 100%;
				padding-left: 90px;
				padding-right: 90px;

				h1 {
					visibility: hidden;
				}

				h2 {
					width: 50%;
					line-height: 1 !important;
					padding-top: 250px;
					padding-left: 585px;
				}
			}
		}

		.field_exhibit_or_theme {
			color: $twilight-zone-subhead;
		}
	}
	.theme-167 & {
		.title-slide {
			background-image: url($assetPath + '/hidden-reef.png');

			h1, h2 {
				display: none;
			}
		}

		.field_exhibit_or_theme {
			color: $hidden-reef-subhead;
		}
	}

	.theme-172 & {
		.title-slide {
			background-image: url($assetPath + '/venom.png');

			h1 {
				.tl {
					font-size: 136px;
				}
			}
		}
	}
}

@import "translate";
@import "nav";
@import "fancybox";
