/*

fancybox customizations
@see https://fancyapps.com/fancybox/3/

*/

.fancybox-fx-zoom-in-out {
	transform-origin: bottom left;
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous,
.fancybox-fx-zoom-in-out.fancybox-slide--next {
	transform: scale3d(.5, .5, .5) translate3d(200px, -200px, 0);
}
.fancybox-fx-zoom-in-out.fancybox-slide--current {
	transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

.fancybox-container {
	width: $stageWidth;
	height: $stageHeight;
	left: 50%;
	margin-left: -($stageWidth / 2);

	.close {
		@include animation(fadein 0.6s $easing);
		@include buttony;
		@include svg-shadow;

		position: absolute;
		z-index: 99999999;
		top: 20px;
		left: 20px;

		@include box-sizing(border-box);

		position: absolute;
		
		text-indent: -999px;
		overflow: hidden;

		$dim: 60px;

		$left: 20px;
		$top: 20px;

		width: $dim + ($left * 2);
		height: $dim + ($top * 2);

		background-color: transparent;
		border: none;

		background-image: url('../images/close.svg');
		background-repeat: no-repeat;
		background-position: $left $top;
		@include background-size($dim $dim);

		@include opacity(1);

		.closing & {
			@include transition(
				opacity .2s $easing
			);
			
			@include opacity(0);
			pointer-events: none;
		}
	}

	.fancybox-slide {
		padding: 0 !important;
		overflow: hidden;

		.fancybox-video {
			width: auto;
			height: auto;
			position: absolute;
		}

		.progress-indicator {
			@include animation(fadein 0.6s $easing);
			@include svg-shadow;

			z-index: 3;
			position: absolute;
			top: 20px;
			right: 20px;

			svg {
				@include transform(rotate(-90deg));

				width: 60px;
				height: 60px;

				circle {
					fill: none;

					&.progress {
						stroke: #ffffff;
						stroke-width: 6;
					}
					&.bg {
						stroke: #000000;
						stroke-width: 2;
					}
				}
			}
		}
	}
}
