nav {
    display: none;

    .translation-ready & {
        display: block;
    }


    $topPadding: 12px;

    z-index: 999;
    position: absolute;

    background-color: #000000;
    width: 100%;
    overflow: hidden;
    clear: both;
    
    line-height: 1;
    letter-spacing: 1.25px;

    &, li, div, span {
        @include box-sizing(border-box);
        height: $translationUIHeight;
    }

    @include transition(
        opacity .4s $easing
    );

    #title {
        @include small-caps;
        font-size: 26px;
        line-height: 1;
        font-weight: $medium;
        position: absolute;
        left: $padding;
        top: 8px;
    }

    #languages {
        li {
            float: right;
            width: 209px;
            border-left: 1px solid #ffffff;

            // text-transform: uppercase;
            color: $translateTextColor;

            span {
                @include buttony;
                font-size: 23px;
                font-family: 'Whitney Condensed';
                font-weight: $medium;
                display: block;
                text-align: center;
                padding-top: $topPadding;
            }

            &#cn {
                span {
                    padding-top: $topPadding - 3px;
                    font-family: 'HanSans';
                }
            }

            &.active {
                @include highlight-color;
                pointer-events: none;

                span {
                    font-weight: $semibold;
                }
            }
        }
    }
}
