$assetPath : "../images";
$stageWidth: 1024px;
$stageHeight: 768px;

// font weights
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;

@import "_colors";
@import "_mixins";
@import "_animations";
